.outer {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #ffffff;
  box-shadow: 0 0 17px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: overlay;

}

.outer-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.points-text{
  text-align: center;
  font-size:30px;
}