.profile-outer{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    top: 82px;
    right: 0px;
    border-radius: 10px 0px 0px 10px;
    width: 123px;
    cursor: pointer;
    transition: ease-out 0.2s;

}
.profile-outer:hover{
    width: 200px;
    color:white;
}

.user-name{
    margin:16px;
    text-align: center;
    font-size: 22px;
    overflow: hidden;
    letter-spacing:2px;
}