.kchange-outer{
    margin-top:40px;
    display: flex;
    justify-content: center;
}

.charge-bar{
    max-width: 100px;
    background-color: red;
    height: 10px;
}

#progressbar {
    background-color: rgba(255,255,255,0.3);
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: 366px;
  }
  
  #progressbar > div {
    transition: 0.5s;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
     width: 40%; /* Adjust with JavaScript */
     height: 25px;
     border-radius: 10px;
  }