.table-matrix{
  border-style: none;
}

.td{
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  border: 0.1px;
  border-style: solid;
  padding: 0px;
}

.td:hover{
  background-color: lightyellow;
}

.content-center{
  display: flex;
  justify-content: center;
  margin-top:5%;

}