.table-matrix{
  border-style: none;
}

.td{
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
}

.content-center{
  display: flex;
  justify-content: center;
  margin-top:10%;

}